doctype html
html(lang="ru")
    head
        meta(name="Content-Type" content="text/html, charset=utf-8")
        title Сайт-портфолио веб-разработчика AndSmi
        link(href="css/styles.css" rel="stylesheet")
    body
        header
        main
        footer
        script(src="js/app.js")